@import url("https://fonts.googleapis.com/css?family=Fira+Sans:300,700");

body {
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  line-height: 1.3;
  box-sizing: border-box;
}

button, input {
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  line-height: 1.3;
  box-sizing: border-box;
}

.button {
  height: 2em;
  padding: 0 1em;
  border: solid thin lightgrey;
  border-radius: 0;
  background-color: white;
  font-size: 1em;
  cursor: pointer;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #F6F6F6;
}

.button--icon {
  display: flex;
  padding: 0 0.5em;
  background-color: transparent;
  border-color: transparent;
  align-items: center;
}

.button--icon:hover,
.button--icon:focus,
.button--icon:active {
  background-color: transparent;
}

.icon {
  height: 1em;
  width: auto;
}

.vanillajs-todo {
  width: 50%;
  max-width: 600px;
  margin: 0 auto;
  border: solid thin lightgrey;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.05);
}

.todos__headline {
  display: block;
  margin: 0;
  padding: 1em;
  text-align: center;
  border-bottom: solid thin lightgrey;
  font-weight: bold;
  font-size: 1em;
}

.todos__creator {
  display: flex;
  font-size: 1.5em;
}

.todos__creator > .button--create {
  border-top: solid transparent thin;
  border-right: none;
}

.todos__input {
  height: 2em;
  padding: 0 0.75em;
  border: none;
  border-bottom: solid thin lightgrey;
  font-size: 1em;
  flex-grow: 1;
  box-shadow: inset -1px -1px 5px rgba(0, 0, 0, 0.05);
}

.todos__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.todos__filters {
  border-bottom: solid thin lightgrey;
}

.filters {
  display: flex;
  padding: 0.75em;
  align-items: center;
  justify-content: center;
}

.filter {
  margin: 0 0.5em;
}

.todo {
  display: flex;
  height: 3em;
  padding: 0 0.75em;
  align-items: center;
  border-bottom: solid thin lightgrey;
}

.todo--closed {
  background-color: lightgreen;
}

.todo--closed .todo__title {
  text-decoration: line-through;
}

.todo__checkbox,
.todo__title {
  cursor: pointer;
}

.todo__title {
  display: flex;
  height: 100%;
  padding: 0 0.5em;
  border-left: solid thin transparent;
  border-right: solid thin transparent;
  align-items: center;
}

.todo__edit-title {
  height: 100%;
  padding: 0 0.5em;
  margin-left: 0.75em;
  border: none;
  border-left: solid thin lightgrey;
  border-right: solid thin lightgrey;
  box-shadow: inset -1px -1px 5px rgba(0, 0, 0, 0.05);
  font-size: 1em;
  flex-grow: 1;
}

.todo__buttons {
  display: flex;
  margin-left: auto;
}

.footer {
  padding: 0.5em;
  font-size: 0.75em;
  text-align: center;
}

.footer__link {
  text-decoration: none;
  color: darkgrey;
}